
		<div id="main-container-footer">
			<div class="container-footer">

				<div id="row-1f">
					<div class="text-row-1f">
                        <span class="footer_h">
                            What is photo.local</span>
                            <br>Photo.local is training project fo 2nd cource of php
                    </div>
				</div>

				<div id="row-2f">
					<div class="text-row-2f">
                        <span class="footer_h">
                            How does it work</span><br>
                            It was written on php7 with Twig. The base OS was Linux Mint. It was .... terrible ...
                    </div>
				</div>

				<div id="row-3f">
					<div class="text-row-3f">
                        <span class="footer_h">
                            Get in touch!</span><br>
                            Subscribe our RSS or follow us on Facebook, Google+, Pinterest or Dribbble to keep updated.
                    </div>
				</div>

				<div id="row-4f">
					<div class="text-row-4f">
                        <span class="footer_h">
                            Newsletter</span><br>
                            You will be informed monthly about the latest content avalaible.
                    </div>

					<div id="main_tip_newsletter">
						<form>
							<input type="text" name="newsletter" id="tip_newsletter_input" list="newsletter" autocomplete=off required>
						</form>
					</div>
				</div>

			</div>
		</div>


		<div id="wrapper-copyright">
			<div class="copyright">
				<div class="copy-text object">Copyright © 2020. </div>

				<div class="wrapper-navbouton">
					<div class="google object">g</div>
					<div class="facebook object">f</div>
					<div class="linkin object">i</div>
					<div class="dribbble object">d</div>
				</div>
			</div>
		</div>

	</div>



	<!-- SCRIPT -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>


</body>

</html>