<!DOCTYPE HTML>
<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>{{title}}</title>

	<!-- Behavioral Meta Data -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/png" href="img/small-logo-01.png">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='style.css' rel='stylesheet' type='text/css'>

</head>

<body>

	<!-- <a name="ancre"></a>


	<div class="cache"></div> -->


	<!-- HEADER -->

	<div id="wrapper-header">
		<div id="main-header" class="object">
			<div class="logo">
                <img src="img/logo-burst.png" alt="logo" height="38" width="90">            
            </div>
			<div id="main_tip_search">
				<form>
					<input type="text" name="search" id="tip_search_input" list="search" autocomplete=off required>
				</form>
			</div>
			<div id="stripes"></div>
		</div>
	</div>

	<!-- NAVBAR -->

	<div id="wrapper-navbar">
		<div class="navbar object">
			<div id="wrapper-sorting">
				<div id="wrapper-title-1">
					<div class="top-rated object">Top-rated</div>
					<div id="fleche-nav-1"></div>
				</div>

				<div id="wrapper-title-2">
					<a href="#">
						<div class="recent object">Recent</div>
					</a>
					<div id="fleche-nav-2"></div>
				</div>

				<div id="wrapper-title-3">
					<a href="#">
						<div class="oldies object">Oldies</div>
					</a>
					<div id="fleche-nav-3"></div>
				</div>
			</div>

		</div>
	</div>




	<!--CONTENT-->

	<div id="wrapper-container">
